<template name="Task_info">
    {{#if isLoading}}
        <section class="overlay-wrapper">
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </section>
    {{else}}
        <div class="container">
            <section class="invoice">
                <div class="row page-header">
                    <div class="col-xs-6">
                        <h3>{{task.title}}</h3>
                        <span class="badge bg-yellow">{{taskExecutorTitle task.executorType}}</span>
                        <span class="badge bg-green">{{taskStatus task.status}}</span>
                    </div>
                    <div class="col-xs-6 margin-top-20">
                        <div class="button-holder">
                            {{#if isCanRunning task}}
                                <button type="button" class="btn btn-primary pull-right js-run-task"
                                        disabled="{{isRunDisabled}}"><i
                                        class="fa fa-credit-card"></i>
                                    Run
                                </button>
                            {{/if}}
                            {{#if isInProgressTask task.status}}
                                <button type="button" class="btn btn-success pull-right js-done-task"><i
                                        class="fa fa-credit-card"></i>
                                    Done
                                </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 task-base-description">
                        <div class="task-description">
                            <h4>Description</h4>
                            <span>{{task.description}}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 task-information">
                        <div class="separator task-assign-to">
                            <span><strong>Assign to: </strong>
                                {{#if assignedUser}}
                                    {{assignedUser}} <i class="fa fa-close js-unassign-user"></i>
                                {{/if}}

                                {{#unless assignedUser}}
                                    <a class="js-assign-me">Assign to me</a>
                                {{/unless}}

                                {{#if isUserAssigning}}
                                    <i class="fa fa-refresh fa-spin"></i>
                                {{/if}}
                            </span>

                        </div>
                        <div class="separator time-type">
                            <span><strong>Time type:</strong> {{taskTimeType task.time.type}}</span>

                            {{#if isTaskEstimated task.time.type}}
                                <div>
                                    <strong>Original estimate:</strong> {{task.time.estimate}}
                                </div>
                            {{/if}}

                            {{#if isTaskScheduled task.time.type}}
                                <div>
                                    <strong>Start Date:</strong> {{ dateFormat task.time.startdate 'lll'}}

                                </div>
                                <div>
                                    <strong>End Date:</strong> {{dateFormat task.time.endDate 'lll'}}
                                </div>
                            {{/if}}

                        </div>


                        {{#if task.priceRate}}
                            <div class="separator task-price">
                                <strong>Rate:</strong>{{task.priceRate}}
                            </div>
                        {{/if}}

                        <div class="separator task-creator-info">
                            <div>
                                <span><strong>Creator: </strong>{{task.creator.profile.firstName}} {{task.creator.profile.lastName}}</span>
                            </div>
                            <div>
                                <span><strong>Organization: </strong>{{task.organization.title}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    {{/if}}
</template>