<template name="Tasks_page">
    <div class="row">
        <div class="col-xs-6">
            <div class="margin">
                <div class="btn-group">
                    <button type="button" class="btn btn-success js-create-task">
                        <i class="fa fa-plus"></i>
                        Add Task
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tasks</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 70px;">Status</th>
                            <th>Title</th>
                            <th>Assign to</th>
                            <th>Executor type</th>
                            <th>Time type</th>
                        </tr>
                        {{#each task in tasksList}}
                            <tr>
                                <td><span class="badge bg-green">{{task.status}}</span></td>
                                <td><a href="{{pathFor 'tasks.info' id=task._id }}">{{task.title}}</a></td>
                                <td>{{task.assignTo}}</td>
                                <td>{{executorType task.executorType}}</td>
                                <td>{{taskTimeType task.time.type}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>