<template name="layout">
    <div class="sidebar-mini">
        <div class="wrapper">

            <header class="main-header">
                <!-- Logo -->
                <a href="index2.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>N</b>DS</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Network</b>Dashboard</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}
                                            {{#if emailLocal}}
                                                <small>{{emailLocal.address}}</small>
                                                {{#unless emailLocal.verified}}
                                                    <small>Email is not verified.</small>
                                                {{/unless}}
                                            {{/if}}

                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <button id="logout-button" class="btn btn-default btn-flat">Profile
                                            </button>
                                        </div>
                                        <div class="pull-right">
                                            <button id="logout-button" class="btn btn-default btn-flat">Sign out
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">NETWORK MANAGEMENT</li>
                        <li class="active">
                            <a href="{{pathFor 'dashboard.list'}}">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        {{#if isAllow 'viewPeersPage' }}
                            <li class="">

                                <a href="{{pathFor 'peers.list'}}">
                                    <i class="fa fa-cube"></i> <span>Peers</span>
                                </a>
                            </li>
                        {{/if}}
                        {{#if isAllow 'viewGroupsPage' }}
                            <li class="">
                                <a href="{{pathFor 'groups.list'}}">
                                    <i class="fa fa-cube"></i> <span>Groups</span>
                                </a>
                            </li>
                        {{/if}}
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {{> Template.dynamic template=main}}
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 0.0.1
                </div>
                <strong>Copyright &copy; 2014-2019 <a href="https://softethica.com">SoftEthica</a>.</strong> All
                rights
                reserved.
            </footer>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li class="active"><a href="#control-sidebar-sensors-tab" data-toggle="tab"><i
                            class="fa fa-microchip"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Sensors tab content -->
                    <div class="tab-pane active" id="control-sidebar-sensors-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">Sensors</h3>
                            {{peerIdentifier}}
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">Settings</h3>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    </div>
</template>